<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="web/element.css">
    <link rel="stylesheet" href="web/index.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1644182_kmnvv0rgw79.css">

    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="web/element.js"></script>
    <script src="web/index.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" class="attribute" name="version" value="1.3" style="display: none;">
        <el-container id="container">
            <el-header height="80px">
                <div class="logo">
                    <img src="web/icon.png" alt="">
                    <span>代码生成器</span>
                </div>
            </el-header>

            <el-main class='sg-container'>
                <div class="attr-container" v-for="attr in attribute">
                    <el-row gutter="20">
                        <el-col span=6 class="name">
                            <span>{{attr.name}}</span>
                        </el-col>
                        <el-col span=14 class="value">
                            <el-input class="attribute" :placeholder="attr.placeholder" :name="attr.attrName"
                                v-model:value="attr.value">
                            </el-input>
                        </el-col>
                        <el-col span=4 class="tip">
                            <el-popover placement="top-end" :title="attr.name" width="300" trigger="hover"
                                :content="attr.tip" close-delay="0">
                                <i slot="reference" class="iconfont iconquestion"></i>
                            </el-popover>
                        </el-col>
                    </el-row>
                </div>
            </el-main>

            <el-main class="ad-container">
                <div class="ad-box" :style="adStyle">
                    <div class="attr-container" v-for="attr in adAttribute">
                        <el-row gutter="20">
                            <el-col span=6 class="name">
                                <span>{{attr.name}}</span>
                            </el-col>
                            <!-- 可选的控件 -->
                            <!-- 输入框 -->
                            <el-col span=14 class="value" v-if="attr.type=='input'">
                                <el-input class="attribute" :placeholder="attr.placeholder" :name="attr.attrName"
                                    v-model:value="attr.value">
                                </el-input>
                            </el-col>
                            <!-- 颜色选择器 -->
                            <el-col span=14 class="value" v-if="attr.type=='colorPicker'">
                                <el-color-picker v-model="attr.value"></el-color-picker>
                            </el-col>
                            <!-- 开关 -->
                            <el-col span=14 class="value" v-if="attr.type=='switch'">
                                <el-switch v-model="attr.value" :active-text="attr.active"
                                    :inactive-text="attr.inactive" active-value="true" inactive-value="false">
                                </el-switch>
                            </el-col>
                            <!-- 可选的控件 -->
                            <el-col span=4 class="tip">
                                <el-popover placement="top-end" :title="attr.name" width="300" trigger="hover"
                                    :content="attr.tip" close-delay="0">
                                    <i slot="reference" class="iconfont iconquestion"></i>
                                </el-popover>
                            </el-col>


                        </el-row>
                    </div>

                </div>
                <!-- 显示按钮 -->
                <el-row class="ad-button">
                    <el-col span="8" offset="8" align="middle">
                        <span @click="showAd($event)">{{adButton}}</span>
                    </el-col>
                </el-row>
            </el-main>
            <el-main class="gen-command-container">
                <el-row gutter="20">
                    <el-col span="20">
                        <el-input id="code" readonly placeholder='请点击"生成代码"' v-model:value="command"
                            @select="selectCode" type="textarea" autosize="{minRows:1}"></el-input>
                    </el-col>
                    <el-col span="4">
                        <el-button type="primary" @click="genCode">生成代码</el-button>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>

    </div> 
    
</body>
