html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: relative;
}

body .gm{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.image-container {
    position: relative;
}

.reader-img {
    position: relative;
}

.reader-title-top-cover {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.reader-title-top-detail #gd3{
    padding: 10px 15px 3px 15px;
}
.reader-title-top-detail #gj{
    padding-bottom: 10px;
}
.reader-title-top-cover>img{
    top: 50%;
    position: relative;
    width: 100%;
}
.reader-title-top-cover>div{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0) 60%,#4f535b);
}
.reader-title-top-detail #gd3{
    width: 100%;
}
.reader-title-top-detail #gdd{
    width: 100%;
}
.reader-title-top-detail #gdd table{
    width: 100%;
}
.reader-title-top-detail #gdr{
    margin: 0px;
}
.reader-title-top-detail #gdf{
    padding-top: 0px;
}
.reader-info-detail-row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.reader-info-detail-col{
    width: 45%;
}
.loading-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reader-menu{
    position: fixed;
    width: 100%;
    background-color: #363940;
}
.transform-anime{
    /*transition: transform 200ms ease-out;*/
    transition: transform 200ms cubic-bezier(0.18, 0.76, 0.18, 0.8);
    -webkit-transition: transform 200ms cubic-bezier(0.18, 0.76, 0.18, 0.8);
}

#top-menu{
    height: 150px;
    top: 0px;
}
#bottom-menu{
    height: 150px;
    bottom: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
}
.top-hidden{
    transform: translateY(-100%);
}
.bottom-hidden{
    transform: translateY(100%);
}
.reader-menu .iconfont{
    font-size: 70px;
}
body #cdiv{
    width: 100%;
    max-width: 100%;
    position: fixed;
    height: 50%;
    bottom: 0px;
    margin: 0px;
    overflow-y: scroll;
    z-index: 100;
}
.zoom3{
    transform: scale(3);
}